@charset "UTF-8";
#B {margin-left : 100px;
   margin-right : 100px;
   text-align : center;
}

input[class="btn_1"]{
    background-color:#74A155; 
    margin-top:10px; 
    width:100px; 
    height:30px;
    border-radius:20px 20px;
    font-family: InterparkGothicMedium;
}

input[class="btn_2"]{
    background-color:white; 
    margin-top:10px; 
    width:100px; 
    height:30px;
    border-radius:20px 20px;
    font-family: InterparkGothicMedium;
}